/* Whole page */
body {
  margin: 0;
  background-color: #120012; /* dark purple */
  color: white;
  font-family: Arial;
}


.title {
  text-align: center;
  font-size: 60px;
  font-family: Impact;
  margin: 20px 0;
}


.controls {
  display: flex;
  justify-content: center;   
  gap: 15px;                
  margin: 20px 0;            


.controls select {
  padding: 10px;
  font-size: 16px;
  background-color: #111;    
  color: white;
  border: 1px solid purple;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect (simple but nice) */
.controls select:hover {
  border-color: #c084fc;
}


#card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card {
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #111;
}


.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card h2 {
  margin: 0;
  padding: 10px;
  background-color: #000;
  font-size: 22px;
}

.details {
  display: none;
  padding: 10px;
  background-color: #1a001f;
}

/* Show details on hover */
.card:hover .details {
  display: block;
}


.details li {
  margin-bottom: 5px;
}
